$padSize:220px;
$padRadius:30px;

a{
  color:#0033dd;
  text-decoration:none;
  &:link{
    text-decoration:none;
  }
}
html,body,#wrap,#app{
  width:100%;
  height:100%;
}
textarea{
  display: block;
  width:70%;
  margin:10px;
}
#fileOpener{
  display:none;
}
